/work/
/outputs/
/Binaries/
/Intermediate/
/Saved/
/DerivedDataCache/
/.vs/
/.idea/
*.sln
*.VC.db
*.VC.opendb
*.suo
*.opensdf
*.sdf
*.pdb
__pycache__/
.pytest_cache/
.venv/
node_modules/
Plugins/*/Binaries/
Plugins/*/Intermediate/
Plugins/*/ThirdParty/**/lib/
Plugins/*/ThirdParty/**/bin/
*.blend1
*.blend2

/Content/
/Art/
*.zip
*.7z*
.env*
*.key
*.pem
*.lnk

/Build/
/Config/DefaultEditorPerProjectUserSettings.ini
